:root {
    --primary-color: #281154; 
    --secondary-color: #270082; 
    --accent-color: #1b0058; 
    --background-color: #dc0000; 
    --text-color: #f9f6ff; 
    --max-width: 1200px;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.4;
    scroll-behavior: smooth;

  }
  section {
    scroll-margin: 50px;
  }
  ul {
    list-style: none;
  }
  a{
    text-decoration: none;
    color: white;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  header {
    background-color: var(--secondary-color);
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: white;
  }
  .logo {
    font-size: 32px;
    font-weight: 600;
  }

  button{
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in-out;
  }
  button:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;
  }
  nav ul{
    display: flex;
    gap: 20px;
  }
  nav ul li:hover {
    border-bottom: 2px solid white;
    transition: 0.2s ease-in-out;
  }
  nav ul li {
    border-bottom: 2px solid transparent;
    transition: 0.2s ease-in-out;
  }
  .hero_section {
    background-image: url(hero_image.png);
    height: 100vh;
    display: grid;
    color: white;
    place-items: center;
    text-align: center;
  }
  .hero_section .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .hero_section h1{
    font-size: 96px;
  }
  .hero_section h3{
    font-size: 32px;
  }
  .music_section {
    padding-top: 50px;
    background: var(--primary-color);
  }
  .music_section .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .ipad_iphone_img {
    position: relative;
    top: 400px;
    margin-top: -400px;
  }
  .primary_btn {
    background-color: var(--background-color);
    color: white;
  }
  .secondary_btn {
    background-color: var(--accent-color);
    color: white;
    font-weight: bold;
  }

  .about_music {
    padding-top: 500px;
    display: grid;
    place-items: center;
    gap: 50px;
    text-align: center;
    margin-bottom: 50px;
  }
  .video_section {
    background-image: url(video.png);
    min-height: 800px;
    display: grid;
    place-items: center;
    color: white;
    text-align: center;
  }
  .video_section .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: -200px;
  }
  .hero_section, .video_section{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .gift_section {
    display: flex;
    justify-content: center;
    margin: 100px 0;
    gap: 50px;

  }
  .gift_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer_upper{
    background-color: var(--accent-color);
    padding: 20px;
  }
  .footer_upper .container{
    display: flex;
    font-weight: 100;
    color: white;
    justify-content: space-between;
  }
  .footer_upper h4{
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
    font-size: 18px;

  }

  .footer_lower {
    background: var(--secondary-color);
    padding: 20px;
    display: flex;
    justify-content: center;
    color: white;
  }
  .gift_section{
    scroll-margin: 120px;
  }